<input type="radio" name="gf_paymentspring_account[mode]" id="gf_paymentspring_mode_{{type}}" value="{{type}}"
  {% if options['mode'] == type %} checked="checked"{% endif %} />
<label class="inline" for="gf_paymentspring_mode_{{type}}"> {{ _e( name ) }} </label>
